* {
    font-family: Montserrat;
}

body {
	margin: 0;
	padding: 0;
}

.header-wrapper {
	background-image: linear-gradient(to right, #672280, #A626D3);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9vh;
	padding: 1% 5% 1% 5%;
}

.header-wrapper .title {
	font-size: 30px;
	display: flex;
	flex-direction: row;
}

.header-wrapper .title .title-image {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

#troll-face {
	height: 30px;
	width: 30px;
}

.header-wrapper .subtitle {
	font-size: 20px;
	text-align: center;
}

.entry-div {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3% 5% 1% 5%;
}

.entry-div .input-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 6vh;
	margin-bottom: 4%;
}

.entry-div input {
	width: 45%;
	border-radius: 8px;
	border: 0.1px solid silver;
	padding-left: 5px;
}

.entry-div .button-div {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 6vh;
}

.entry-div button {
	width: 100%;
	background-image: linear-gradient(to right, #672280, #A626D3);
	color: white;
	height: 7vh;
	font-size: 18px;
	border: 1px solid white;
	border-radius: 8px;
	transition-duration: 0.4s;
}

.entry-div button:hover {
	filter: brightness(1.25);
}

.entry-div button:active {
	scale: 0.98;
}

.meme-name {
	width: 50%;
	margin: auto;
}

.image-div {
	margin: auto;
	position: relative;
	margin-bottom: 2%;
	width: 80%;
	display: flex;
}

.image-div img {
	min-height: 400px;
	max-height: 600px;
	width: 80%;
	margin: auto;
}

.image-div .meme-text-top, .meme-text-bottom {
	font-family: Impact;
	position: absolute;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 50px;
	letter-spacing: 0.1em;
}

.image-div .meme-text-top {
	top: 0;
	margin-top: 0;
}

.image-div .meme-text-bottom {
	bottom: 0;
	margin-bottom: 0;
}